<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="basic-event">
        取餐編號：<input type="text" v-model="number" name="number" id="number" /><br />
        等候時間(分鐘)：<input type="text" v-model="countdownTime" name="countdownTime" id="countdownTime" /><br />
        <button type="button" id="add" @click="addToCountdownList">送出</button>
        <button type="button" id="add" @click="removeAllCountdownList">刪除所有</button>
        <hr />
        <div v-for="item in list">number: {{ item.number }}, countdownTime: {{ item.countdownTime }}, {{
            this.getTimeLeft(item.createTime, item.countdownTime) }} <button
                @click="removeOneCountdown(item.number)">訂單完成</button></div>
    </div>

    <script type="text/javascript">
        Vue.createApp({
            data() {
                return {
                    timer: 0,
                    number: 1,
                    countdownTime: 15,
                    list: []
                }
            },
            methods: {
                getCountdownList() {
                    let text = localStorage.getItem('countdownList')
                    if (text == null) text = '[]'
                    this.list = JSON.parse(text)
                },
                getTimeLeft(createTime, countdownTime) {
                    let t = (createTime + countdownTime * 1000 * 60) - new Date().getTime()
                    let allSec = parseInt(t / 1000)
                    let flag = '剩餘時間'
                    if (allSec < 0) flag = '逾時'

                    allSec = Math.abs(allSec)
                    let min = parseInt(allSec / 60)
                    let sec = allSec % 60
                    return `${flag}： ${min} 分 ${sec} 秒`
                },
                setCountdownList(item) {
                    this.list.push(item)
                    this.saveListToLocalStorage()
                },
                saveListToLocalStorage() {
                    console.log('saveListToLocalStorage:', this.list)
                    localStorage.setItem('countdownList', JSON.stringify(this.list))
                    this.getCountdownList()
                },
                addToCountdownList() {
                    let item = {
                        number: this.number,
                        countdownTime: this.countdownTime,
                        createTime: new Date().getTime(),
                    }
                    this.number++
                    this.setCountdownList(item)
                },
                removeOneCountdown(id) {
                    for (let i = 0; i < this.list.length; i++) {
                        if (this.list[i].number === id) this.list.splice(i, 1)
                    }
                    this.saveListToLocalStorage()
                },
                removeAllCountdownList() {
                    localStorage.clear()
                    this.getCountdownList()
                    this.number = 1
                }
            },
            mounted() {
                this.getCountdownList()
                let max = 0
                for (let i of this.list) {
                    if (i.number > max) max = i.number
                }
                this.number = max + 1
            },
            created() {
                this.timer = setInterval(() => {
                    this.getCountdownList()
                }, 1000)
            },
            beforeDestroy() {
                clearInterval(this.timer)
            }
        }).mount('#basic-event')
    </script>
</body>

</html>